{% extends 'layouts/index.html' %}

{% block content %}

<h1> Список всех товаров и их характеристики: </h1>

<h2>
    <ul>
        {% for product in products %}
<!--            <p> {{ product.title }} </p>-->
<!--            <p> {{ product.name }} </p>-->
<!--            <p> {{ product.description }} </p>-->
            <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{product.name}} </h5>
    <p class="card-text"> {{ product.description }} </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        {% endfor %}
    </ul>
</h2>

{% endblock %}